<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Do or drink</title>
</head>

<body>
    <header class="do">
        <h1>Do or drink</h1>
    </header>
    <main>
        <section>
            <p>Si et tall fra 1-85</p>
            <p>Gjør man ikke utfordringen drikker man 5 slurker og utfordringen står åpne for andre</p>
            <p>Gjør man utfordringen drikker ALLE 2 slurker</p>
            <table>
                <tr class="do">
                    <th>Checkbox</th>
                    <th>Nr og spm:</th>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>4. Fortell din største hemmelighet</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>5. Spør bestemoren din om hvem som er favorittbarnebarn.</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>9. Add fem stykker på quick add og send dem en snap</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>10. Har du hatt 69? Drikk 6 slurker</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>11. Gi en shot til verten</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>12. Syng et refreng uten musikk</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>13. Fortell en vits</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>14. Legg ut en Instastory</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>15. Ring et familiemedlem og si du har klamydia</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>16. Les opp søkelista di på Instagram</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>19. Legg ut en story på Snapchat om hvor du skal i kveld</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>20. Si de tre øverste på snap bestevennlista di</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>21. Send «streak» til noen du ikke snapper med</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>22. Svar på den første Instastoryen som kommer opp</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>26. Fortell om din kleineste sexhistorie</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>28. Legg ut en TikTok på Instagram</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>30. Fortell antall sexpartnere</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>31. Gjett antall sexpartnere til personen til venstre og høyre for deg</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>34. Sett deg i hotseat</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>36. Bytt antrekk med personen til høyre</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>37. La noen snoke på mobilen din</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>38. Sett deg i hotseat</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>39. Hotseat på deg</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>42. Drikk ti slurker</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>43. Gi bort ti slurker</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>47. Legg trusa di på bordet</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>48. Ta av buksa</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>51. Lag en gruppe med en du vil ha sex med og en du ikke vil ha sex med, og skriv "Jeg vil ha sex med en av dere."</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>52. Lag en gruppe med ditt verste og beste ligg og skriv det, og deretter forlat gruppa</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>54. Vis en annen i rommet hvordan du ville gått frem før sex</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>55. Hotseat</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>57. Fortell om din beste Tinder-date</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>58. Sjekk opp en i rommet</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>60. Vipps 1 kr til nummer 2 på snaplista di</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>61. Ta en shot</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>65. Si et sted der du har hatt sex; alle som har ligget på samme sted må drikke</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>68. Har du noen gang blitt fersket i å ha sex? Fortell</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>71. Send snap til alle du har ligget med</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>72. Send en felles snap til alle på Snapchat</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>75. Gå på VSCO og repost et gammelt bilde av noen andre</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>76. Hvem er den verste du har hatt sex med?</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>77. Pek på hvem som må chugge</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>78. Du må snakke engelsk resten av leken</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>79. Fortell om din sexfantasi</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>83. Les opp søkelista på Safari</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>84. Send en selfie til den du lå med sist og skriv "Rate meg"</td>
                </tr>
                <tr>
                    <td> <input type="checkbox"> </td>
                    <td>85. Ta deg et bad i havet</td>
                </tr>

