<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Forever Alone drikkelek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="karaoke">
        <h2>Forever Alone drikkelek (revyedition??)</h2>
    </header>

    <section>
        <table>
            <tr class="karaoke">
                <th>Tekst</th>
                <th>Regel</th>
            </tr>
            <tr>
                <td>Elsker Sandvika</td>
                <td>No one can say I didn't try</td>
            </tr>
            <tr>
                <td>Alle</td>
                <td>Tried everything to make you feel what I feel</td>
            </tr>
            <tr>
                <td>Har hatt sex med flere på en uke</td>
                <td>Well, I guess I pushed to hard</td>
            </tr>
            <tr>
                <td>Hatt anal</td>
                <td>And now you're slipping away</td>
            </tr>
            <tr>
                <td>Alle</td>
                <td>Feels like my love for you</td>
            </tr>
            <tr>
                <td>Hatt trekant</td>
                <td>Is stopping you from being you</td>
            </tr>
            <tr>
                <td>Hatt sex med en revysjef</td>
                <td>You shine best without me</td>
            </tr>
            <tr>
                <td>Keen på noen på revy gruppa de</td>
                <td>Like all the ones I had before</td>
            </tr>
            <tr>
                <td>Gått på en smell</td>
                <td>I am forever alone</td>
            </tr>
            <tr>
                <td>Har hatt et ons</td>
                <td>Home alone eating sushi for two</td>
            </tr>
            <tr>
                <td>Hooket noen på revygruppa</td>
                <td>Home alone and I'm waiting for someone who never shows up</td>
            </tr>
            <tr>
                <td>Gått ned på noen før</td>
                <td>Ooh, and I'm lonely, I'm angry I'm tired</td>
            </tr>
            <tr>
                <td>Spydd i grøfta</td>
                <td>You're only giving med drips of your love</td>
            </tr>
            <tr>
                <td>Kulla mer enn 5</td>
                <td>Appointments, you've been breaking them all</td>
            </tr>
            <tr>
                <td>Stjålet drikke</td>
                <td>It's like a never ending story</td>
            </tr>
            <tr>
                <td>Har hatt blackout</td>
                <td>I give, and you take, and I give, and you take</td>
            </tr>
            <tr>
                <td>Alle blonde</td>
                <td>Feels like my love for you</td>
            </tr>
            <tr>
                <td>Alle single</td>
                <td>Is stopping you from being you</td>
            </tr>
            <tr>
                <td>Vært keen på vennen sin ex</td>
                <td>You shine best without me</td>
            </tr>
            <tr>
                <td>Hooket en som er mer en 3 år eldre</td>
                <td>Like all the ones I had before</td>
            </tr>
            <tr>
                <td>Alle</td>
                <td>I am forever alone</td>
            </tr>
            <tr>
                <td>Hatt doggy</td>
                <td>When I held your hand you were sincere</td>
            </tr>
            <tr>
                <td>Alle som hater Nesbru</td>
                <td>But did you ever think about me when I wasn't near you</td>
            </tr>
            <tr>
                <td>Hooket en som ikke snakker norsk</td>
                <td>Why would you ever put me first?</td>
            </tr>
            <tr>
                <td>Hooket en ginger</td>
                <td>You are second to none</td>
            </tr>
            <tr>
                <td>Hooket med flere enn 3 på en kveld</td>
                <td>I wanted to leave, I tried to find someone new</td>
            </tr>
            <tr>
                <td>Hatt kongla</td>
                <td>But I always end up still wanting you</td>
            </tr>
            <tr>
                <td>Hatt seg med en yngre</td>
                <td>Why do I do this to myself?</td>
            </tr>
            <tr>
                <td>Alle som er megablæsta for revyen</td>
                <td>Feels like my love for you</td>
            </tr>
            <tr>
                <td>Hatt sex i år</td>
                <td>Is stopping you from being you</td>
            </tr>
            <tr>
                <td>Har hatt sex i sengen til foreldre</td>
                <td>You shine best without me</td>
            </tr>
            <tr>
                <td>Alle</td>
                <td>Like all the ones I had before</td>
            </tr>
            <tr>
                <td>Gira for i kveld</td>
                <td>I am forever alone</td>
            </tr>
            <tr>
                <td>Vært på en 07</td>
                <td>When I'm with you, you tell me you love me</td>
            </tr>
            <tr>
                <td>Hooket flere 20</td>
                <td>When you're not I don't even exist</td>
            </tr>
            <tr>
                <td>Har angret på noen man hae hatt sex med</td>
                <td>If I ask you if you want to hang with me</td>
            </tr>
            <tr>
                <td>Har dusjet med en av motsatt kjønn</td>
                <td>You got a thousand excuses rehearsed</td>
            </tr>
            <tr>
                <td>Har delt ut drikke i kveld</td>
                <td>But when you're drunk and got no place to hide</td>
            </tr>
            <tr>
                <td>Alle som er single</td>
                <td>Who's the one you always call?</td>
            </tr>
            <tr>
                <td>Alle som har røyket hasj</td>
                <td>Feels like my love for you</td>
            </tr>
            <tr>
                <td>Alle som skal få seg noe i kveld</td>
                <td>Is stopping you from being you</td>
            </tr>
            <tr>
                <td>Fått/gitt sugemerke</td>
                <td>You shine best without me</td>
            </tr>
            <tr>
                <td>Har kjæreste</td>
                <td>Like all the ones I had before</td>
            </tr>
            <tr>
                <td>Knulla mer en 5</td>
                <td>I am forever alone</td>
            </tr>
            <tr>
                <td>Drikker sprit i dag</td>
                <td>My love for you</td>
            </tr>
            <tr>
                <td>Vært utro</td>
                <td>Is stopping you from being you</td>
            </tr>
            <tr>
                <td>Synes noen er digge her</td>
                <td>You shine best without me</td>
            </tr>
            <tr>
                <td>Kommet hjem etter kl 5</td>
                <td>Like all the ones I had before</td>
            </tr>
            <tr>
                <td>Alle</td>
                <td>I am forever alone</td>
            </tr>
        </table>
    </section>

</body>

</html>
