<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Feel da rush drikkelek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="karaoke">
        <h2>Feel da rush drikkelek</h2>
    </header>

    <section>
        <table>
            <tr class="karaoke">
                <th>Tekst</th>
                <th>Regel</th>
            </tr>
            <tr>
                <td>Boom, boom, boom. Feel the rush inside, man. Freddy Kalas. How you feelin?</td>
                <td>Alle</td>
            </tr>
            <tr>
                <td>I got a little secret, don’t know If I can keep it</td>
                <td>Alle som skal bli fakked</td>
            </tr>
            <tr>
                <td>I feel it in my body, and now I wanna reach it</td>
                <td>Alle som drikker sprit</td>
            </tr>
            <tr>
                <td>I got a little secret, don’t know if I can keep it</td>
                <td>Alle som synes de har for lite drikke</td>
            </tr>
            <tr>
                <td>I feel it in my body, and don’t now if I can keep it</td>
                <td>Alle single</td>
            </tr>
            <tr>
                <td>I feel the rush in my body, see me movin’</td>
                <td>Alle tøflene</td>
            </tr>
            <tr>
                <td>Feeling happy, baby, watch me when I am groovin’</td>
                <td>Alle blondiner</td>
            </tr>
            <tr>
                <td>Cuz every day, every night, I’m on fire</td>
                <td>Alle som har hatt sex med en ex</td>
            </tr>
            <tr>
                <td>I got this feeling, I wanna take it higher</td>
                <td>Alle som har hatt reggis</td>
            </tr>
            <tr>
                <td>I feel the rush in my body, see me movin’</td>
                <td>Alle som har gått ned på noen</td>
            </tr>
            <tr>
                <td>Feeling happy, baby, watch me when I’m groovin’</td>
                <td>Alle som er kinky</td>
            </tr>
            <tr>
                <td>Cuz every day every night I am on fire</td>
                <td>Alle som har flasha</td>
            </tr>
            <tr>
                <td>I got this feeling I wanna take it higher</td>
                <td>Alle som har farga håret</td>
            </tr>
            <tr>
                <td>Wooh!</td>
                <td>Bussjefene</td>
            </tr>
            <tr>
                <td>I feel the rush in my body see me movin’</td>
                <td>Alle</td>
            </tr>
            <tr>
                <td>Feeling happy baby watch me when I’m groovin’</td>
                <td>Alle</td>
            </tr>
            <tr>
                <td>Cuz every day every night I’m on fire</td>
                <td>Alle som vurderte å melde seg på mgp jr</td>
            </tr>
            <tr>
                <td>I got this feeling, I wanna take it higher</td>
                <td>Alle som har blitt dratt i håret</td>
            </tr>
            <tr>
                <td>Boom, boom, boom</td>
                <td>Alle</td>
            </tr>
            <tr>
                <td>I got this feeling, mmmm</td>
                <td>Alle som har kommet av en gutt</td>
            </tr>
            <tr>
                <td>Early morning in the evening, aaah</td>
                <td>Alle som ikke har kommet over exen</td>
            </tr>
            <tr>
                <td>I wanna take it higher, im burning, I am on fire</td>
                <td>Alle som har en vibrator</td>
            </tr>
            <tr>
                <td>Now im telling you the truth, since I was a little youth</td>
                <td>Alle som har en sneaky link</td>
            </tr>
            <tr>
                <td>I got a little secret, don’t know if I can keep it</td>
                <td>Alle som har vært med yngre</td>
            </tr>
            <tr>
                <td>I feel it in my body, and now I wanna reach it</td>
                <td>Alle som har et shopping problem</td>
            </tr>
            <tr>
                <td>I got a little secret, don’t know if I can keep it</td>
                <td>Alle som har vært på en i mædmen</td>
            </tr>
            <tr>
                <td>I feel it in my body, and now I wanna reach it</td>
                <td>Alle som har hatt kyssesyken</td>
            </tr>
            <tr>
                <td>I feel da rush in my body, see me movin’</td>
                <td>Alle som har hatt brannbil</td>
            </tr>
            <tr>
                <td>Feeling happy baby, watch me when I am groovin’</td>
                <td>Alle som går MK</td>
            </tr>
            <tr>
                <td>Cause every day, every night, I’m on fire</td>
                <td>Alle som snuser/røyker</td>
            </tr>
            <tr>
                <td>I got this feeling I wanna, I wanna take it higher</td>
                <td>Alle som ikke har shava/vaska tissen i dag</td>
            </tr>
            <tr>
                <td>I feel da rush in my body, see me movin’</td>
                <td>Alle med mommy milkers</td>
            </tr>
            <tr>
                <td>Feeling happy baby watch me when im groovin’</td>
                <td>Alle som har sexa i dusjen</td>
            </tr>
            <tr>
                <td>Cuz every day every night I’m on fire</td>
                <td>Alle som har blitt cheata på</td>
            </tr>
            <tr>
                <td>I got this feeling, I wanna take it higher</td>
                <td>Alle som føler seg pene i dag</td>
            </tr>
            <tr>
                <td>I feel the happy rush inside man</td>
                <td>Alle som har på bh</td>
            </tr>
            <tr>
                <td>Yeah!</td>
                <td>Alle som har en coochie</td>
            </tr>
            <tr>
                <td>I feel da rush in my body, see me movin’</td>
                <td>Alle som kom for sent i dag</td>
            </tr>
            <tr>
                <td>Feelin happy baby watch me when I’m groovin’</td>
                <td>Alle som skal bryte innetiden i dag</td>
            </tr>
            <tr>
                <td>Cuz every day every night I’m on fire</td>
                <td>Alle som elsker å råkline</td>
            </tr>
            <tr>
                <td>I got this feeling, I wanna take it higher</td>
                <td>Alle som elsker Freddy</td>
            </tr>
        </table>
    </section>

</body>

</html>
