<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Spørsmål</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="spm">
        <h1>100 Spørsmål</h1>
    </header>
    <main>
        <section>
            <table>
                <tr class="spm">
                    <th>Nr:</th>
                    <th>Spørsmål:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hvem har det fineste navnet? Navnerunde?</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Hvem i rommet ville du sveipet ja til på tinder</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Hvem sjekker snapscore</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Drikker mest på fest</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Hvem kunne trengt seg en tørkeperiode</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Hvem bruker mest penger</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Hvem er den mest classy drinkeren</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>Og hvem er den trashy drinkeren</td>

                </tr>

                <tr>
                    <td>9</td>
                    <td>Hvem i rommet er favoritten din</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>Er mest uskyldig</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>Hvem har ligget med flest</td>
                </tr>

                <tr>
                    <td>12</td>
                    <td>Hvem er tinderhore</td>
                </tr>

                <tr>
                    <td>13</td>
                    <td>Har de vakreste øynene</td>
                </tr>

                <tr>
                    <td>14</td>
                    <td>Hvem i rommet kunne vært utro</td>
                </tr>

                <tr>
                    <td>15</td>
                    <td>ALLE DRIKKER - SKÅÅÅÅÅL</td>
                </tr>

                <tr>
                    <td>16</td>
                    <td>Hvem lukter best (lukt på alle i rommet plz)</td>
                </tr>

                <tr>
                    <td>17</td>
                    <td>Hvem er mest åpen for å bli sammen med noen av samme kjønn</td>
                </tr>

                <tr>
                    <td>18</td>
                    <td>Hvem har best outfit i kveld</td>
                </tr>

                <tr>
                    <td>19</td>
                    <td>Hvem drar tidligst hjem</td>
                </tr>

                <tr>
                    <td>20</td>
                    <td>Hvem har mest lyst på kjærste</td>
                </tr>

                <tr>
                    <td>21</td>
                    <td>Hvem har vært med de værste jentene/guttene</td>
                </tr>

                <tr>
                    <td>22</td>
                    <td>Hvem kommer mest sansynlig til å bli inluenver</td>
                </tr>

                <tr>
                    <td>23</td>
                    <td>Hvem i rommet kunne du ligget med</td>
                </tr>

                <tr>
                    <td>24</td>
                    <td>Hvem må vi ringe 113 på</td>
                </tr>

                <tr>
                    <td>25</td>
                    <td>Hvem trenger å få seg noe ikveld</td>
                </tr>

                <tr>
                    <td>26</td>
                    <td>Hvem er mest edru</td>
                </tr>

                <tr>
                    <td>27</td>
                    <td>Hvem er fullest</td>
                </tr>

                <tr>
                    <td>27</td>
                    <td>Hvem hadde samleie sist</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Hvem kunne dumpa noen over melding</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Hvem lager de villeste lydene i senga</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>ALLE DRIKKER - SKÅÅÅÅÅL</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Hvem får fylleangst i morgen</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Er mest romantisk</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Hatt flest ons</td>
                </tr>

                <tr>
                    <td>34</td>
                    <td>Kommer til å være singel lengst</td>
                </tr>

                <tr>
                    <td>35</td>
                    <td>Spyr i kveld</td>
                </tr>

                <tr>
                    <td>36</td>
                    <td>Drukket mest alkohol i løpet av livet</td>
                </tr>

                <tr>
                    <td>37</td>
                    <td>Hvem yapper mest</td>
                </tr>

                <tr>
                    <td>38</td>
                    <td>Hvem snakker minst</td>
                </tr>

                <tr>
                    <td>39</td>
                    <td>Hvem i rommet er din type</td>
                </tr>

                <tr>
                    <td>40</td>
                    <td>Skål 40!</td>
                </tr>

                <tr>
                    <td>41</td>
                    <td>Har hatt flest våte drømmer</td>
                </tr>

                <tr>
                    <td>42</td>
                    <td>Hvem har sterkest meninger</td>
                </tr>

                <tr>
                    <td>43</td>
                    <td>Svigemors/Svigefars drøm</td>
                </tr>

                <tr>
                    <td>44</td>
                    <td>Er med på alt</td>
                </tr>

                <tr>
                    <td>45</td>
                    <td>ALLE DRIKKER - SKÅÅÅÅÅL</td>
                </tr>

                <tr>
                    <td>46</td>
                    <td>Danser best</td>
                </tr>

                <tr>
                    <td>47</td>
                    <td>Hvem er Mammaen i gjengen</td>
                </tr>

                <tr>
                    <td>48</td>
                    <td>Hvem er den værste å passe på</td>
                </tr>

                <tr>
                    <td>49</td>
                    <td>Beste ryttern</td>
                </tr>

                <tr>
                    <td>50</td>
                    <td>Rommets blikkfang</td>
                </tr>

                <tr>
                    <td>51</td>
                    <td>Er den beste sjekkeren</td>
                </tr>

                <tr>
                    <td>52</td>
                    <td>Høyest IQ</td>
                </tr>

                <tr>
                    <td>53</td>
                    <td>Har den mest skitneste loggen</td>
                </tr>

                <tr>
                    <td>54</td>
                    <td>Har vanskligst for å få stå</td>
                </tr>

                <tr>
                    <td>55</td>
                    <td>Hvem sin personlighet er 10/10</td>
                </tr>

                <tr>
                    <td>56</td>
                    <td>Festens midtpunkt</td>
                </tr>

                <tr>
                    <td>57</td>
                    <td>Best til å kysse (kyss alle plz)</td>
                </tr>

                <tr>
                    <td>58</td>
                    <td>Hvem er mest vill</td>
                </tr>

                <tr>
                    <td>59</td>
                    <td>Hvem velger ligg over gjengen</td>
                </tr>

                <tr>
                    <td>60</td>
                    <td>ALLE DRIKKER - SKÅÅÅÅÅL</td>
                </tr>

                <tr>
                    <td>61</td>
                    <td>Hvem er fortsatt stuck i RT</td>
                </tr>

                <tr>
                    <td>62</td>
                    <td>Hvem er oftest på helseklinikken</td>
                </tr>

                <tr>
                    <td>63</td>
                    <td>Blir millionær først</td>
                </tr>

                <tr>
                    <td>64</td>
                    <td>Hvem her har et syndrom</td>
                </tr>

                <tr>
                    <td>65</td>
                    <td>Blir best likt av nye personer</td>
                </tr>

                <tr>
                    <td>66</td>
                    <td>Har de mest slitte knærne</td>
                </tr>

                <tr>
                    <td>67</td>
                    <td>Hvem i rommet syntes du er heitest</td>
                </tr>

                <tr>
                    <td>68</td>
                    <td>Hvem får finest avkom</td>
                </tr>

                <tr>
                    <td>69</td>
                    <td>Har shavet og er klar for alt</td>
                </tr>

                <tr>
                    <td>70</td>
                    <td>Hvem blir alltid lei seg</td>
                </tr>

                <tr>
                    <td>71</td>
                    <td>Hvem gir faen i skole </td>
                </tr>

                <tr>
                    <td>72</td>
                    <td>Hvem fylleringer/tekster oftest</td>
                </tr>

                <tr>
                    <td>73</td>
                    <td>Hvem sover ikke hjem i natt</td>
                </tr>

                <tr>
                    <td>74</td>
                    <td>Hvem har ligget med flest yngre</td>
                </tr>

                <tr>
                    <td>75</td>
                    <td>ALLE DRIKKER - SKÅÅÅÅÅL</td>
                </tr>

                <tr>
                    <td>76</td>
                    <td>Hvem har ligget med flest eldre</td>
                </tr>

                <tr>
                    <td>77</td>
                    <td>Har best sjans på deg</td>
                </tr>

                <tr>
                    <td>78</td>
                    <td>Hvem må gi et kompliment til alle i rommet</td>
                </tr>

                <tr>
                    <td>79</td>
                    <td>Hvem på ta en bodyshot av den til venstre for seg</td>
                </tr>

                <tr>
                    <td>80</td>
                    <td>Hvem her inkluderer mest</td>
                </tr>

                <tr>
                    <td>81</td>
                    <td>Hvem her er alltid for sen</td>
                </tr>

                <tr>
                    <td>82</td>
                    <td>Størst utstyr</td>
                </tr>

                <tr>
                    <td>83</td>
                    <td>Mest overlegen</td>
                </tr>

                <tr>
                    <td>84</td>
                    <td>Støst lommebok</td>
                </tr>

                <tr>
                    <td>85</td>
                    <td>Har lengst tånegler</td>
                </tr>

                <tr>
                    <td>86</td>
                    <td>Blir raskest sjalu</td>
                </tr>

                <tr>
                    <td>87</td>
                    <td>Har hatt trekant</td>
                </tr>

                <tr>
                    <td>88</td>
                    <td>Blitt pumpa</td>
                </tr>

                <tr>
                    <td>89</td>
                    <td>Blir spandert mest på</td>
                </tr>

                <tr>
                    <td>90</td>
                    <td>ALLE DRIKKER - SKÅÅÅÅÅL</td>
                </tr>

                <tr>
                    <td>91</td>
                    <td>Er mest bortskjemt</td>
                </tr>

                <tr>
                    <td>92</td>
                    <td>Er den største stalkeren</td>
                </tr>

                <tr>
                    <td>93</td>
                    <td>Kommer raskest</td>
                </tr>

                <tr>
                    <td>94</td>
                    <td>Har sex på første date</td>
                </tr>

                <tr>
                    <td>95</td>
                    <td>Hvem stoler du mest på</td>
                </tr>

                <tr>
                    <td>96</td>
                    <td>Kjørt uten lappen</td>
                </tr>

                <tr>
                    <td>97</td>
                    <td>Hatt sex i offentligheten</td>
                </tr>

                <tr>
                    <td>98</td>
                    <td>Knust flest hjerter</td>
                </tr>

                <tr>
                    <td>99</td>
                    <td>Hvem har blitt valgt minst i løpet av leken</td>
                </tr>

                <tr>
                    <td>100</td>
                    <td>SKÅL 100!!</td>
                </tr>
            </table>
        </section>
    </main>
</body>

</html>