<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Drikkeleker</title>
</head>
<body>
    <header>
        <h1 id="rosa_txt">Drikkeleker <span class="treord">av nure</span></h1>
    </header>
    <main>
        <section id="games">
            <div class="game spm">
                <a href="{{ url_for('hundre_spm') }}">
                    <i class="fa-solid fa-check"></i>
                    <h2>100 spørsmål</h2>
                </a>
            </div>
            <div class="game aldri">
                <a href="{{ url_for('jeg_har_aldri') }}">
                    <i class="fas fa-question"></i>
                    <h2>Jeg har aldri</h2>
                </a>
            </div>
            <div class="game kalas">
                <a href="{{ url_for('kalas_drikkelek') }}">
                    <i class="fa-regular fa-face-smile"></i>
                    <h2>Kalas drikkelek</h2>
                </a>
            </div>
            <div class="game karaoke">
                <a href="{{ url_for('karaoke') }}">
                    <i class="fas fa-microphone"></i>
                    <h2>Karaoke</h2>
                </a>
            </div>
            <div class="game truth">
                <a href="{{ url_for('truth_or_drink') }}">
                    <i class="fas fa-glass-cheers"></i>
                    <h2>Truth or drink</h2>
                </a>
            </div>
            <div class="game do">
                <a href="{{ url_for('do_or_drink') }}">
                    <i class="fas fa-glass-cheers"></i>
                    <h2>Do or drink</h2>
                </a>
            </div>
        </section>
    </main>
</body>
</html>
