<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Jeg har aldri</title>
</head>

<body>
    <header class="aldri">
        <h1>Jeg har aldri</h1>
        <p>Storytime er obligatorisk!!</p>
    </header>
    <main>
        <section>
            <table>
                <tr class="aldri">
                    <th>Nr:</th>
                    <th>Spørsmål:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Jeg har aldri hatt en rebound</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Jeg har aldri vært på en klein date</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Jeg har aldri faket en orgasme</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Jeg har aldri send fylla meldinger til noen jeg ikke burde</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Jeg har aldri hatt en trekant</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Jeg har aldri nakenbadet</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Jeg har fått bot</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>Jeg har aldri hatt sex på et offentlig sted</td>

                </tr>

                <tr>
                    <td>9</td>
                    <td>Jeg har aldri hatt en kjønnsykdom</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>Jeg har aldri vært på en yacht</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>Jeg har aldri prøvd 69</td>
                </tr>

                <tr>
                    <td>12</td>
                    <td>Jeg har aldri vært på en tinderdate</td>
                </tr>

                <tr>
                    <td>13</td>
                    <td>Jeg har aldri hatt sex på en strand</td>
                </tr>

                <tr>
                    <td>14</td>
                    <td>Jeg har aldri droppet noen fordi de var dårlige i senga</td>
                </tr>

                <tr>
                    <td>15</td>
                    <td>Jeg har aldri brukt et Fake-Leg</td>
                </tr>

                <tr>
                    <td>16</td>
                    <td>Jeg har aldri slått opp med noen</td>
                </tr>

                <tr>
                    <td>17</td>
                    <td>Jeg har aldri hatt sex med 2 eller flere på under 24t</td>
                </tr>

                <tr>
                    <td>18</td>
                    <td>Jeg har aldri hatt en våt drøm om noen i rommet her</td>
                </tr>

                <tr>
                    <td>19</td>
                    <td>Jeg har aldri sovnet i offentligheten</td>
                </tr>

                <tr>
                    <td>20</td>
                    <td>Jeg har aldri kastet opp på noen</td>
                </tr>

                <tr>
                    <td>21</td>
                    <td>Jeg har aldri hatt sex med noen her</td>
                </tr>

                <tr>
                    <td>22</td>
                    <td>Jeg har aldri hatt et ons </td>
                </tr>

                <tr>
                    <td>23</td>
                    <td>Jeg har aldri hørt foreldrene mine gjøre det</td>
                </tr>

                <tr>
                    <td>24</td>
                    <td>Jeg har aldri rotet med en medarbeider</td>
                </tr>

                <tr>
                    <td>25</td>
                    <td>Jeg har aldri besøkt en strippeklubb</td>
                </tr>

                <tr>
                    <td>26</td>
                    <td>Jeg har aldri løyet om antall sex-partnere</td>
                </tr>

                <tr>
                    <td></td>
                    <td>Jeg har aldri hatt sex med noen og aldri hørt fra de igjen</td>
                </tr>

                <tr>
                    <td>27</td>
                    <td>Jeg har aldri gått flere dager uten å dusje</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Jeg har aldri hatt walk of shame</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Jeg har aldri snakket negativt om noen i dette rommet</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Jeg har aldri brukt en annen datingapp enn</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Jeg har aldri lyvd til foreldrene mine om hvor jeg har vært</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Jeg har aldri drømt at jeg har hatt sex</td>
                </tr>

                <tr>
                    <td>28</td>
                    <td>Jeg har aldri hatt brannbil</td>
                </tr>

                <tr>
                    <td>29</td>
                    <td>Jeg har aldri løyet om alderen min</td>
                </tr>

                <tr>
                    <td>30</td>
                    <td>Jeg har aldri blitt gått inn på</td>
                </tr>

                <tr>
                    <td>31</td>
                    <td>Jeg har aldri vært naken på et offentlig sted </td>
                </tr>

                <tr>
                    <td>32</td>
                    <td>Jeg har aldri kastet mat/drikke på noen</td>
                </tr>

                <tr>
                    <td>33</td>
                    <td>Jeg har aldri brukt noen andres undertøy</td>
                </tr>


                <tr>
                    <td>34</td>
                    <td>Jeg har aldri stryket på en prøve </td>
                </tr>

                <tr>
                    <td>35</td>
                    <td>Jeg har aldri donert penger til veldedighet </td>
                </tr>

                <tr>
                    <td>36</td>
                    <td>Jeg har aldri hatt sex utenfor soverommet </td>
                </tr>

                <tr>
                    <td>37</td>
                    <td>Jeg har aldri vært forelsket</td>
                </tr>

                <tr>
                    <td>38</td>
                    <td>Jeg har aldri jukset på en prøve </td>
                </tr>


                <tr>
                    <td>39</td>
                    <td>Jeg har aldri prøvd narkotika </td>
                </tr>


                <tr>
                    <td>40</td>
                    <td>Jeg har aldri vært innlagt på sykehuset </td>
                </tr>



                <tr>
                    <td>41</td>
                    <td>Jeg har aldri sagt feil navn under sex</td>
                </tr>

                <tr>
                    <td>42</td>
                    <td>Jeg har aldri startet en trend </td>
                </tr>



                <tr>
                    <td>43</td>
                    <td>Jeg har aldri gjort noe seksuelt med en av samme kjønn </td>
                </tr>

                <tr>
                    <td>44</td>
                    <td>Jeg har aldri kysset noen i regnet </td>
                </tr>

                <tr>
                    <td>45</td>
                    <td>Jeg har aldri spydd i bilen </td>
                </tr>


                <tr>
                    <td>46</td>
                    <td>Jeg har aldri kræsjet med noen </td>
                </tr>

                <tr>
                    <td>47</td>
                    <td>Jeg har aldri gått kommando </td>
                </tr>


                <tr>
                    <td>48</td>
                    <td>Jeg har aldri flørtet med en som har kjæreste </td>
                </tr>


                <tr>
                    <td>49</td>
                    <td>Jeg har aldri sextet </td>
                </tr>

                <tr>
                    <td>50</td>
                    <td>Jeg har aldri gått inn på noen ha sex </td>
                </tr>

                <tr>
                    <td>51</td>
                    <td>Jeg har aldri vært i samme rom med noen som har sex </td>
                </tr>
                <tr>
                    <td>52</td>
                    <td>Jeg har aldri grått på en fest </td>
                </tr>

                <tr>
                    <td>53</td>
                    <td>Jeg har aldri faket en orgasme </td>
                </tr>

                <tr>
                    <td>54</td>
                    <td>Jeg har aldri vært i en politibil </td>
                </tr>

                <tr>
                    <td>55</td>
                    <td>Jeg har aldri vært på en strippeklubb </td>
                </tr>

                <tr>
                    <td>56</td>
                    <td>Jeg har aldri brukt over 1k på byen </td>
                </tr>

                <tr>
                    <td>57</td>
                    <td>Jeg har aldri brukt over 5k på byen </td>
                </tr>

                <tr>
                    <td>58</td>
                    <td>Jeg har aldri vært på en nudiststrand </td>
                </tr>

                <tr>
                    <td>59</td>
                    <td>Jeg har aldri ringt politiet </td>
                </tr>


                <tr>
                    <td>60</td>
                    <td>Jeg har aldri gjort noe seksuelt på et utested </td>
                </tr>

                <tr>
                    <td>61</td>
                    <td>Jeg har aldri mistet stemmen min </td>
                </tr>
                <tr>
                    <td>62</td>
                    <td>Jeg har aldri drukket over 60% </td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>Jeg har aldri datet flere personer samtidig </td>
                </tr>
                <tr>
                    <td>64</td>
                    <td>Jeg har aldri fantasert om å gå tilbake til en eks </td>
                </tr>
                <tr>
                    <td>65</td>
                    <td>Jeg har aldri hatt sex på første date </td>
                </tr>
                <tr>
                    <td>66</td>
                    <td>Jeg har aldri sugd på noen sine tær </td>
                </tr>

                <tr>
                    <td>67</td>
                    <td>Jeg har aldri hatt sex med noen og holdt det hemmelig </td>
                </tr>
                <tr>
                    <td>68</td>
                    <td>Jeg har aldri hatt sex med bestevennen min </td>
                </tr>
                <tr>
                    <td>69</td>
                    <td>Jeg har aldri hatt 69</td>
                </tr>
            </table>
        </section>
    </main>
</body>

</html>