<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Jenter drikkelek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="karaoke">
        <h2>Jenter drikkelek</h2>
    </header>

    <section>
        <table>
            <tr class="karaoke">
                <th>Tekst</th>
                <th>Regel</th>
            </tr>
            <tr>
                <td>jeg traff henne på St Hanshaugen sommeren 89</td>
                <td>alle single</td>
            </tr>
            <tr>
                <td>Hun gråt når hun var full og sang når hun var blid</td>
                <td>Brunette</td>
            </tr>
            <tr>
                <td>Jeg elsket henne høyt, hun elsket meg villt</td>
                <td>blondiner</td>
            </tr>
            <tr>
                <td>Høsten kom, døra smalt og etterpå ble det stillt</td>
                <td>Alle som har ligget med yngre</td>
            </tr>
            <tr>
                <td>Så jeg traff ei lita jente en regnfull vår</td>
                <td>Alle som er under 170</td>
            </tr>
            <tr>
                <td>Med bløte konsonanter og regnvått hår</td>
                <td>alle som har pult en ex</td>
            </tr>
            <tr>
                <td>Hun lovet meg troskap, jeg lovet henne alt</td>
                <td>alle som har hatt sex i dusjen</td>
            </tr>
            <tr>
                <td>Vinteren kom, troskap gikk og etterpå ble det kaldt</td>
                <td>alle som har vært utro</td>
            </tr>
            <tr>
                <td>Jenter som kommer og jenter som går</td>
                <td>ALLE</td>
            </tr>
            <tr>
                <td>Jenter som glipper, jenter du aldri får</td>
                <td>alle som har hatt anal</td>
            </tr>
            <tr>
                <td>Jenter som smiler en tidlig vår</td>
                <td>alle som har pult en ginger</td>
            </tr>
            <tr>
                <td>Jenter og en litt sliten matador</td>
                <td>alle som skal pule i kveld</td>
            </tr>
            <tr>
                <td>Hey, hey</td>
                <td>alle som er over 170</td>
            </tr>
            <tr>
                <td>Hey, hey</td>
                <td>alle som har på kjole</td>
            </tr>
            <tr>
                <td>Hey, hey, hey</td>
                <td>alle som har vært med eldre enn 03</td>
            </tr>
            <tr>
                <td>Ved frognerparken møtes to trikker kvart på ni</td>
                <td>alle som har på skjorte</td>
            </tr>
            <tr>
                <td>Og hun smilte bak ruten til vinteren var forbi</td>
                <td>alle som har hoppet fra 10 metern</td>
            </tr>
            <tr>
                <td>Jeg skrev i rutens morgendugg «jeg tror jeg elsker deg»</td>
                <td>alle som snuser/røyker</td>
            </tr>
            <tr>
                <td>Men våren kom og isen gikk og hun seilte sin vei</td>
                <td>alle som er fulle</td>
            </tr>
            <tr>
                <td>Jenter som kommer og jenter som går</td>
                <td>alle som har pult flere på en uke</td>
            </tr>
            <tr>
                <td>Jenter som glipper og jenter du aldri får</td>
                <td>alle som ikke skal hjem i kveld</td>
            </tr>
            <tr>
                <td>Jenter som smiler en tidlig vår</td>
                <td>alle som har hatt et one night stand</td>
            </tr>
            <tr>
                <td>Jenter og en litt sliten matador</td>
                <td>alle som er brisne</td>
            </tr>
            <tr>
                <td>Hey hey</td>
                <td>Gutter</td>
            </tr>
            <tr>
                <td>Hey hey</td>
                <td>Jenter</td>
            </tr>
            <tr>
                <td>Hey hey hey</td>
                <td>alle som er forelska</td>
            </tr>
            <tr>
                <td>Hey hey hey hey</td>
                <td>alle</td>
            </tr>
            <tr>
                <td>EY</td>
                <td>alle</td>
            </tr>
            <tr>
                <td>Månen er gul og titter ned på skrå</td>
                <td>alle som har hatt klamydia</td>
            </tr>
            <tr>
                <td>Gud er en fyr det kan være vanskelig å forstå</td>
                <td>alle som har brukt sexleketøy</td>
            </tr>
            <tr>
                <td>Jeg kikker meg i speilet, årene går</td>
                <td>alle som har et crush</td>
            </tr>
            <tr>
                <td>Hei, jeg heter Berger, jeg er matador</td>
                <td>Alle som har sexet i et vann</td>
            </tr>
            <tr>
                <td>Jenter som kommer, og jenter som går</td>
                <td>alle som har hatt 69</td>
            </tr>
            <tr>
                <td>Jenter som glipper, jenter du aldri får</td>
                <td>alle som savner rt</td>
            </tr>
            <tr>
                <td>Jenter som smiler en tidlig vår</td>
                <td>alle som har hatt trekant</td>
            </tr>
            <tr>
                <td>Jenter og en litt sliten matador</td>
                <td>alle jomfruene</td>
            </tr>
            <tr>
                <td>Hey, hey!</td>
                <td>alle som elsker sommer</td>
            </tr>
            <tr>
                <td>Jenter som kommer og jenter som går</td>
                <td>alle som har hatt sex i utlandet</td>
            </tr>
            <tr>
                <td>jenter som glipper, jenter du aldri får</td>
                <td>alle som har blå øyne</td>
            </tr>
            <tr>
                <td>Jenter som smiler en tidlig våt</td>
                <td>alle med brune øyne</td>
            </tr>
            <tr>
                <td>Jenter og en litt sliten matador</td>
                <td>alle som har badet i år</td>
            </tr>
            <tr>
                <td>Hey hey</td>
                <td>alle som skal bli megablæsta</td>
            </tr>
        </table>
    </section
