<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalas drikkelek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="kalas">
        <h1>Kalas drikkelek</h1>
    </header>
    <main>
        <section>
            <p class="kalas"> Dette er egentlig en låt laget sommern til 2 klasse og den suger så her har dere lyricsen uten refreng</p> 
            <br>
        
            <p>Hei og velkommen til kalas sin drikkelek</p>
            <p>Dette er ikke første gangen vi leker med drikke så vi forventer at alle kan reglene.</p>
            <p>Vi starter med noe som alle kan drikke på - har du crushet på en gutt med brunt hår og midtskille (så
                jævlig mainstream)</p>
            <p>Jenter, da setter vi i gang!</p>

            <h3>Jeg har aldri:</h4>
                <ul>
                    <li>Jeg har aldri tryna hardt i fylla</li>
                    <li>Jeg har aldri latt venninna få skylda</li>
                    <li>Jeg har aldri blanda med kalinka</li>
                    <li>Jeg har aldri blitt tatt på skinka</li>
                    <li>Jeg har aldri rota med en myndig</li>
                    <li>Jeg har aldri hatt en ons</li>
                    <li>Jeg har aldri vært på richgirls party</li>
                    <li>Jeg har aldri knulla en på skolen</li>
                    <li>Jeg har aldri pult på 4. etg doen</li>
                    <li>Jeg har aldri kasta opp før vorset er ferdig</li>
                </ul>

                <h4>Okei jenter, er vi klare for pekelek?</h4>
                <ul>
                    <li>Her har vi ingenting å skjule - pek på den som alltid ender opp med å pule</li>
                    <li>Okei du er alltid klar, pek på den som alltid sitter på Tinder og blar</li>
                    <li>Du finner sikkert drømmeprinsen snart, pek på den som er «a work of art»</li>
                    <li>Damn du er det verdt å ta vare på, pek på den som sist lå</li>
                    <li>Håper han var en ordentlig tiger, pek på den som er en skikkelig jodel kriger</li>
                    <li>Oj hvilke hemmeligheter er det du bærer? Pek på den som ville pult en lærer
                        Work smart not hard😎</li>
        </section>
    </main>
</body>