<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Mamma Mia drikkelek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="karaoke">
        <h2>Mamma Mia drikkelek</h2>
    </header>

    <section>
        <table>
            <tr class="karaoke">
                <th>Tekst</th>
                <th>Regel</th>
            </tr>
            <tr>
                <td>I've been cheated by you since I don't know when</td>
                <td>Alle festdeltakere</td>
            </tr>
            <tr>
                <td>So I made up my mind, it must come to an end</td>
                <td>Alle som drakk før de kom hit</td>
            </tr>
            <tr>
                <td>Look at me now, will I ever learn?</td>
                <td>Alle som savner RT</td>
            </tr>
            <tr>
                <td>I don't know how but I suddenly lose control<br>There's a fire within my soul</td>
                <td>Alle som har hatt blackout</td>
            </tr>
            <tr>
                <td>Just one look and I can hear a bell ring</td>
                <td>Alle jomfruene</td>
            </tr>
            <tr>
                <td>One more look and I forget everything, w-o-o-o-oh</td>
                <td>Alle som har hatt et ons i år</td>
            </tr>
            <tr>
                <td>Mamma mia, here I go again<br>My my, how can I resist you?</td>
                <td>Alle som har hatt brannbil</td>
            </tr>
            <tr>
                <td>Mamma mia, does it show again?<br>My my, just how much I've missed you</td>
                <td>Alle som har prøvd dop</td>
            </tr>
            <tr>
                <td>Yes, I've been brokenhearted</td>
                <td>Alle som har hatt kjærlighetssorg</td>
            </tr>
            <tr>
                <td>Blue since the day we parted</td>
                <td>Alle som vil ligge ikveld</td>
            </tr>
            <tr>
                <td>Why, why did I ever let you go?</td>
                <td>Alle som har tenkt på en annen under sex</td>
            </tr>
            <tr>
                <td>Mamma mia, now I really know<br>My my, I could never let you go</td>
                <td>Alle som crusher på noen nå</td>
            </tr>
            <tr>
                <td>I've been angry and sad about things that you do</td>
                <td>Alle som har ligget med noen som er 3 år eldre eller mer</td>
            </tr>
            <tr>
                <td>I can't count all the times that I've told you we're through</td>
                <td>Alle som har hatt sex med en i rommet</td>
            </tr>
            <tr>
                <td>And when you go, when you slam the door<br>I think you know that you won't be away too long<br>You
                    know that I'm not that strong</td>
                <td>Alle som har mensen akkurat nå</td>
            </tr>
            <tr>
                <td>Just one look and I can hear a bell ring</td>
                <td>Alle som har hatt sex i utlandet</td>
            </tr>
            <tr>
                <td>One more look and I forget everything, w-o-o-o-oh</td>
                <td>Alle som har gjort noe ulovlig</td>
            </tr>
            <tr>
                <td>Mamma mia, here I go again<br>My my, how can I resist you?</td>
                <td>Alle som ikke har dusja i dag</td>
            </tr>
            <tr>
                <td>Mamma mia, does it show again?<br>My my, just how much I've missed you</td>
                <td>Alle</td>
            </tr>
            <tr>
                <td>Yes, I've been brokenhearted</td>
                <td>Alle som har blitt playa</td>
            </tr>
            <tr>
                <td>Blue since the day we parted</td>
                <td>Alle som har tinder</td>
            </tr>
            <tr>
                <td>Why, why did I ever let you go?</td>
                <td>Alle som drakk i går</td>
            </tr>
            <tr>
                <td>Mamma mia, even if I say<br>Bye bye, leave me now or never</td>
                <td>Alle som har misjonær som favorittstilling</td>
            </tr>
            <tr>
                <td>Mamma mia, it's a game we play<br>Bye bye doesn't mean forever</td>
                <td>Alle som alltid drar på nach</td>
            </tr>
            <tr>
                <td>Mamma mia, here I go again<br>My my, how can I resist you?</td>
                <td>Alle som alltid drar hjem tidlig</td>
            </tr>
            <tr>
                <td>Mamma mia, does it show again?<br>My my, just how much I've missed you</td>
                <td>Alle</td>
            </tr>
            <tr>
                <td>Yes, I've been brokenhearted</td>
                <td>Alle som har crusher på noen nå</td>
            </tr>
            <tr>
                <td>Blue since the day we parted</td>
                <td>Alle som er hæng i morgen</td>
            </tr>
            <tr>
                <td>Why, why did I ever let you go<br>Mamma mia, now I really know<br>My my, I could never let you go
                </td>
                <td>Alle som elsker livet❤️❤️</td>
            </tr>
        </table>

    </section>

</body>

</html>