<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Truth or drink</title>
</head>

<body>
    <header class="truth">
        <div>
            <h1>Truth or drink</h1>
            <p>Storytime er obligatorisk!!</p>
        </div>
    </header>
    <main>
        
        <section>
            <p>Si et tall fra 1-69. Hvis personen ikke vil svare må de chugge</p>
            <table>
                <tr class="truth">
                    <th>Checkbox</th>
                    <th>Nr og spm:</th>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>1. Hvem var ditt siste ligg og var det bra?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>2. 3 ting som turns you off</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>3. Hvem var din beste? Og hvorfor var det bra?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>4. Hvem har vært den verste i senga?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>5. Fortell meg om din verste sex</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>6. Hvem var ditt siste crush og hvordan var det?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>7. Fortell meg om din beste sex</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>8. Hvis du kunne ligge med noen du allerede har ligget med, hvem ville det vært?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>9. Har du noen gang ligget med 2 personer på samme dag, hvis ja, fortell meg det</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>10. Hva er ditt beste orgasmetips?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>11. Hvis du skulle angre på en du allerede har ligget med, hvem ville det vært?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>12. 3 tips for oralsex</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>13. Hvem i rommet vil du helst kysse.</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>14. Er du god i senga?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>15. Når mistet du jomfrudommen, hvis du ikke har det, når vil du det?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>16. Har du vært utro?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>17. Hvor mange har du ligget med?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>18. Hvor mange har du datet?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>19. Har du hatt sex i offentligheten? Og i så fall hvor?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>20. Hva er ditt svake punkt når det kommer til sex?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>21. Hvis du måtte ha sex med en person av ditt eget kjønn, hvem ville det vært?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>22. Hatt sex på en strand?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>23. Hva er ditt beste triks i sengen for å få noen til å huske deg?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>24. Hva er ditt beste sex tips?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>25. Har du noen gang grått under eller like etter sex?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>26. Har du noen gang brukt kondom med smak?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>27. Har du løyet for å få noen i seng, og i så fall, hva sa du?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>28. Hvor mange ons har du hatt?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>29. Hvis du kunne endre 1 ting i fortiden din, hva ville det vært?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>30. Favoritt sexlåt</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>31. Fortell meg om et frivillig one night stand</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>32. Sist gang du hadde sex</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>33. Forrige gang du onanerte?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>34. Nevn en kjendis du kan ha sex med</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>35. Hvilken sexstilling er din favoritt</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>36. Har du brukt et sexleketøy? Forklar i detalj</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>37. Hvilken kroppsdel ​​av kjønnet du er tiltrukket av er den mest sexy?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>38. Hvem i rommet ville du ligget med?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>39. Har du ligget med mer enn 10 personer totalt?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>40. Hvor trekker du grensen når en person har ligget med "mange"</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>41. Hva er det sykeste stedet du har hatt sex?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>42. Hvem var den eldste du har pult</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>43. Har du noen gang gjort noe skittent i en bil?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>44. Hvem er den yngste personen du har pult</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>45. Har du noen gang hatt sex på kjøkkenet?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>46. Hvis du har mer enn én eks, sammenlign sexlivet ditt med navn to</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>47. Hvordan få deg til sengs?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>48. Har du eller kunne du ligget med noen i dette rommet?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>49. Har du prøvd narkotika, hva?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>49. Har du noen gang kjøpt eller tatt en angrepille?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>50. Har du ligget med noen fra Tinder?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>51. En ting du absolutt ikke vil at foreldrene dine skal vite om deg?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>52. Hvem var den siste du kysset?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>53. Hvem av vennene dine har den kjipeste eksen?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>54. Hvis du havnet i en nødssituasjon og trengte hjelp, hvem er den første og siste du ville
                        ringt? (av de som er her)</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>55. Hvem i dette rommet ville vært den verste å date</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>56. Hvilken sex-stilling foretrekker du?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>57. Ranger antrekket til de i rommet</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>58. Beskriv økten for sist gang du hadde sex. Når? Hvor? Hvem? Hvordan?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>59. Har du hatt anal?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>60. Hva var første intrykket ditt av personen til din høyre?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>61. Yngste og eldste du har hatt sex med?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>62. Hvilken stilling liker du minst</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>63. Hvor mye penger har du på brukskonto?</td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td>64. Hva brukte du konf pengene dine på?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>65. Flaueste du har gjort mens du var full?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>66. Ubehagliste plassen du har hatt sex?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>67. Fortell en hemmelighet du ikke har fortalt noen før?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>68. Hvor mye tjente du denne måneden?</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>69.?</td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>